<?xml version="1.0" encoding="utf-8"?>
<setup xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <left>615</left>
  <top>183</top>
  <width>690</width>
  <height>715</height>
  <recentfiles />
  <recentprojects />
  <handler>
    <uniquenessenabled>false</uniquenessenabled>
    <uniquenesscomparisontype>Paired</uniquenesscomparisontype>
    <uniquenessbytype>Count</uniquenessbytype>
    <summaryenabled>false</summaryenabled>
  </handler>
  <options>
    <performance>
      <numberofbackgroundworkers>0</numberofbackgroundworkers>
    </performance>
    <debug>
      <enablelogging>false</enablelogging>
    </debug>
  </options>
</setup>